<%= will_paginate @posts  %>
  <% @posts.each do |post| %>
    <div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="name">
            <%= post.user.user_name %>
          </div>
        </div>
        <p class="caption">
          <%= post.body %>
        </p>
        <%= link_to "upvote", like_post_path(post), method: :put %>
        <%= link_to "downvote", dislike_post_path(post), method: :put %>
        <%= post.score %>
      </div>
    </div>
  <% end %>
<% will_paginate @posts %>

