<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Postings</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="wrap">
      <% if notice %>
        <p class="alert alert-success" id="notice" ><%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
